


 .bildbox {
     margin-top: 3%;
    margin-left: 50%; 
    height: 550px;
}

.knapp  {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 34px;
    background-color: rgb(105, 127, 235);
   
    
}
.kolv {
    position: absolute;
    right: 350px;
    top: 250px;
}


.textbox {
    position: absolute;
    left: 240px;
    width: 380px;
    border: 5px solid black;
    padding: 7px;
    bottom: 60px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}   
.hidden {
display: none;
}
.sidopanelstext {
    position: absolute;
    margin: 0%;
    height: 98%;
    left: 70px;
    }


.sidopanel{
    position: fixed; 
    background-color: rgb(166, 163, 163);
    width: 200px;
    height: 3000px;
    left: 0;
    top: 0;
}



.tillbakaknapp {
    position: absolute;
    background-color: black;
}
.tillbakatext {
    position: absolute;
    color: white;
    top: 2px;
    left: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.rubbrikv8 {
    position: absolute;
    color: black;
    left: 250px;
    top: 54px;
    font-size: 35px;
    border: 3px solid black;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.rubbrikkolv {
    position: absolute;
    color: black;
    left: 240px;
    top: 25 px;
    font-size: 35px;
    border: 3px solid black;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.kolvtext{
position: absolute;
color: rgb(255, 255, 255);
text-shadow: 2px 1px 1px rgb(0, 51, 255);
left: 755px;
top: 226px;
font-size: 40px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}